In [1]:
import pandas as pd
import numpy as np
import random
import timeit
import requests
from citipy import citipy
from config import api_key

In [2]:
lats=np.random.uniform(-90.000,90.000, size=2000)
lngs=np.random.uniform(-180.000,180.000, size=2000)
lat_lngs=zip(lats,lngs)
lat_lngs

In [3]:
coordinates=list(lat_lngs)

In [4]:
cities_list=[]
for coordinate in coordinates:
    city=citipy.nearest_city(coordinate[0],coordinate[1]).city_name
    cities_list.append(city)

In [5]:
# url="http://api.openweathermap.org/data/2.5/weather?"
# query_url= url + "appid=" + api_key + "&q=" + "New York"
# resps=requests.get(query_url).json()
# weather=resps["weather"][0]["main"]
# print(weather)

In [6]:
city_data = []
for city in cities_list:
#     print(city)
    url="http://api.openweathermap.org/data/2.5/weather?"
    query_url= url + "appid=" + api_key + "&q=" + city
    resps=requests.get(query_url).json()
#     print(resps)
    try:
#         print(resps["weather"][0]["main"])
        country = resps["sys"]["country"]
        lat = resps["coord"]["lat"]
        lng = resps["coord"]["lon"]
        max_temp = resps["main"]["temp_max"]
        humidity = resps["main"]["humidity"]
        clouds = resps["clouds"]["all"]
        wind = resps["wind"]["speed"]
        weather_descri=resps["weather"][0]["description"]
        city_data.append({"City": city.title(),
                          "Country": country,
                          "Lat": lat,
                          "Lng": lng,
                          "Max Temp": max_temp,
                          "Humidity": humidity,
                          "Cloudiness": clouds,
                          "Wind Speed": wind,
                          "Weather Description": weather_descri
                         })       
    except KeyError:
        pass 
    
    
weather_data_df=pd.DataFrame(city_data)
weather_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,Sao Filipe,CV,14.8961,-24.4956,296.62,74,82,3.72,broken clouds
1,Norman Wells,CA,65.2820,-126.8329,288.88,56,45,3.44,scattered clouds
2,Carnarvon,AU,-24.8667,113.6333,292.25,67,100,5.69,overcast clouds
3,Rikitea,PF,-23.1203,-134.9692,293.54,55,0,1.33,clear sky
4,Bambous Virieux,MU,-20.3428,57.7575,293.27,72,50,4.46,scattered clouds

In [7]:
output_data_file = "./Weather_Data.csv"
weather_data_df.to_csv(output_data_file, index_label="City_ID")