## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,15,Atasu,KZ,302.89,scattered clouds,48.6814,71.6433,Dostyk
1,25,Salamiyah,SY,302.63,few clouds,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
2,26,Camapua,BR,306.02,clear sky,-19.5314,-54.0439,Comercial Estrela
3,27,Lazaro Cardenas,MX,301.82,broken clouds,17.9583,-102.2000,quinta antigua
4,40,Jaisalmer,IN,309.88,few clouds,26.9147,70.9181,Hotel Fifu

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City<dt><dd>{City}<dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Weather Description}</dd>
<dt>Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
market_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(market_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Urumqi"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Urumqi"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hami"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Korla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Aksu"]

In [10]:
vacation_start = vacation_df.loc[vacation_df["City"]=="Korla"]
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
21,132,Korla,CN,307.21,clear sky,41.7597,86.1469,Gulisitan Hotel

In [81]:
stops = vacation_stop2[["Lat","Lng"]]
stops

        Lat      Lng
21  41.7597  86.1469

In [82]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (43.801, 87.6005)
end = (43.801, 87.6005)
stop1 =  (42.8, 93.45)
stop2 =  (41.759, 86.1469)
stop3 = (41.1231, 80.2644)

In [83]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
direction_layer=gmaps.directions_layer(start,stop1, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,132,Korla,CN,307.21,clear sky,41.7597,86.1469,Gulisitan Hotel
1,381,Hami,CN,306.79,scattered clouds,42.8000,93.4500,Laoyutang Resort
2,132,Korla,CN,307.21,clear sky,41.7597,86.1469,Gulisitan Hotel
3,1318,Aksu,CN,304.35,clear sky,41.1231,80.2644,Pudong Holiday Hotel
4,1709,Aksu,CN,304.35,clear sky,41.1231,80.2644,Pudong Holiday Hotel
5,296,Urumqi,CN,303.68,clear sky,43.8010,87.6005,Hua Ling Grand Hotel Urumqi

In [85]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Weather Description}</dd>
<dt>Temperature</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [87]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure()
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))